# Ignore everything
**

# Include requirements
!requirements.txt

# Include build rules
!rules/install.smk
!singularity/requirements.txt

# Include helper scripts
!rules/utils/*.py

# Include tests
!test/test_base.py
!test/test_install.py
!test/test_function.py
!test/test_files.yaml

# Include License
!LICENSE
